<div class="wrapper">
  <div class="container">
    <div class="header">
      <h1>OP Stackoverflow viewer</h1>
    </div>
    <div class="search-background"></div>
    <div class="search">
      <app-search-panel
        (onSearch)="buildResultBlocks($event)"
      ></app-search-panel>
    </div>

    <div class="search-results">
      <app-search-results
        (onAnswerClicked)="displayAnswer($event)"
        [results]="results"
      ></app-search-results>
    </div>

    <div class="selected-result">
      <app-result-view-panel
        [selectedAnswer]="selectedAnswer"
      ></app-result-view-panel>
    </div>
  </div>
</div>
